<loginsnippet></loginsnippet>

<div class="row">
    <div class="col-md-2">
        <div>
            <h4>Categories</h4>
        </div>

        <div ng-show="isUserAdmin" class="margin">
            <form class="form-inline" novalidate name="addCategoryForm">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="categoryModel.name" placeholder="Category name" required />
                </div>
                <button type="submit" class="btn btn-xs btn-default" ng-disabled="!addCategoryForm.$valid" ng-click="createCategory(categoryModel)">Add</button>
            </form>
        </div>

        <div class="list-group categoriesList" ng-repeat="category in categories">
            <a class="list-group-item hover itemBox" ng-click="selectCategory(category)">
                <span>{{category.name}}</span>
                <span ng-show="isUserAdmin" ng-click="deleteCategory(category)" class="remove glyphicon glyphicon-remove hover"></span>
            </a>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1" ng-controller="ArticlesController as artCtr">
        <div class="row">
            <div class="col-md-11">
                <div class="page-header">
                    <h3>
                        Category <small>{{category.name}}</small>
                    </h3>
                </div>
            </div>
            <div class="col-md-1" ng-show="isUserAdmin||isUserPublisher">
                <a class="btn btn-default" href="#/articles/add">Create article</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="list-group itemBox" data-ng-repeat="article in articles">
                    <a class="list-group-item" ng-href="{{article.link}}">
                        <div class="avatarHolder">
                            <div class="thumbnail">
                                <img/>
                                <div class="caption">
                                    <label>Lorem Ipsum</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h4>{{article.title}}</h4>
                            <p ng-bind-html="article.content"></p>
                        </div>
                    </a>
                    <span ng-show="article.userHasEditAccess" ng-click="deleteArticle(article)" class="remove glyphicon glyphicon-remove"></span>
                    <a ng-show="article.userHasEditAccess" ng-href="{{article.editLink}}">
                        Edit
                    </a>
                </div>
                <button ng-click="loadEarlier()" class="btn btn-default btn-primary loadEarlierButton" ng-disabled="!isLoadEarlierAvailable">Load earlier</button>
            </div>
        </div>
    </div>
</div>

