<loginsnippet></loginsnippet>

<div class="back">
    <a href="#/categories"><span class="glyphicon glyphicon-arrow-left"></span> Back </a>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1 profile">
        <div class="page-header">
            <h2>Profile information</h2>
        </div>

        <blockquote class="profileInfo">
            <div>
                Avatar:
                <div class="itemBox avatar nophoto" ng-hide="showedAvatar.src"></div>
                <div class="itemBox avatar" ng-show="showedAvatar.src">
                    <img ngf-src="showedAvatar.src" />
                    <div class="remove">
                        <span ng-click="deleteAvatar()" class="glyphicon glyphicon-remove"></span>
                    </div>
                </div>

                <form name="updateProfileForm" novalidate enctype="multipart/form-data">
                    <input type="file" ngf-select ng-model="showedAvatar.src" name="file" ngf-accept="'image/*'" required>
                    <button type="submit" ng-show="!!showedAvatar.src && !showedAvatar.saved" ng-click="uploadPicture(showedAvatar.src)" class="btn btn-primary saveChanges">Save Changes</button>
                </form>
            </div>

            <div>
                <span>UserName:</span> 
                <b><span>{{myProfile.userName}}</span></b>
            </div>  
            <div>
                <span>Email:</span> 
                <b><span>{{myProfile.email}}</span></b>
            </div>
            <!--<div>
                <span>Name:</span>
                <b><span>{{myProfile.name}}</span></b>
            </div>
            <div>
                <span>Surname:</span>
                <b><span>{{myProfile.surname}}</span></b>
            </div>-->
            <div>
                <span>Role:</span>
                <b><span>{{myProfile.roleName}}</span></b>
            </div>
        </blockquote>
    </div>
</div>