.categoriesList .list-group-item {
    position: relative;
}


.addArticle {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 5;
}

.articles .avatarHolder{
    float: left;
    margin-right: 15px;
}

.articles .avatarHolder img{
    height: 210px;
}

.articles .articlePreview{
    min-height: 210px;
}