@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

@top-offset: 20px;
@bottom-offset: 20px;
@left-offset: 10px;
@right-offset: 10px;

.margin{
    margin: @top-offset, @right-offset, @bottom-offset, @left-offset;
}