<div class="row">
    <div class="page-header text-center">
        <h3>
            Welcome to Corporate Blog! <br />
            <small>LogIn to start work...</small>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4 margin">
        <form novalidate name="logInForm">
            <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control" placeholder="Login" ng-model="loginForm.login" required />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Password" ng-model="loginForm.password" required />
            </div>
            <div>
                <button type="submit" class="btn btn-default" ng-click="logIn(loginForm)" ng-disabled="!logInForm.$valid">LogIn</button>
            </div>
        </form>

        <div class="margin">
                <a href="/#restorePassword">I forgot my password</a>
        </div>
        <div class="margin">
            <a href="/#registration">Register a new account</a>
        </div>
    </div>
</div>
