<div>
    <form>
        <div class="form-group">
            <label for="loginInput">Login</label>
            <input type="email" class="form-control" id="loginInput" placeholder="Login">
        </div>

        <div class="form-group">
            <label for="PasswordInput">Password</label>
            <input type="password" class="form-control" id="PasswordInput" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default">Login</button>
    </form>
</div>




