@{
	Layout = "../Shared/_Layout.cshtml";
	ViewBag.Title = "Index";
}



<div class="container-fluid">
	<div class="row" ng-controller="CategoriesList">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Categories</h3>
				</div>
				<div class="panel-body">
					<div class="list-group">
						<a href="#" class="list-group-item" ng-repeat="category in categories" ng-click="changeCategory(category)">{{category.title}}
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<ul class="nav nav-pills">
							<li class="active">
								<a href="#">
									<span class="glyphicon glyphicon-sort"></span>
									<span class="glyphicon glyphicon-calendar"></span>
									<span>Date</span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="glyphicon glyphicon-sort"></span>
									<span class="glyphicon glyphicon-star"></span>
									<span>Rating</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="panel-body">
						<div class="list-group">
							<a href="#" class="list-group-item" ng-repeat="post in posts | filter:searchPosts">
								<h4>{{post.title}}</h4>
								<p>
									{{post.content|limitTo: 200 }}...
								</p>
								<p class="text-muted"><em>{{post.date}}</em></p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Advanced search</h3>
				</div>
				<div class="panel-body">
					<input type="text" class="form-control" placeholder="" ng-model="searchPosts">
				</div>
			</div>
		</div>
	</div>
</div>




@*<div ng-controller="AboutPersons">
	<h2>Corporate blog</h2>

	<div>
		Search:
		<input ng-model="query">
	</div>

	<div>
		<select ng-model="orderByModel">
			<option value="name">Name</option>
			<option value="age">Age</option>
		</select>
	</div>

	<ul class="list-group">
		<li class="list-group-item" ng-repeat="person in persons|filter:query|orderBy:orderByModel">
			<span>{{person.name | uppercase}} </span>
			<p>{{person.about}} </p>
		</li>
	</ul>
</div>

<div ng-controller="Swich">
	<button ng-click="showOne()">One</button>
	<button ng-click="showTwo()">Two</button>
	<p>
		{{paragraph}}
	</p>
</div>

<div>
	<textarea type="text" ng-model="userInfo" ></textarea>
	<p ng-bind="userInfo">
	</p>
</div>

<div ng-controller="TestInjector">
	<button ng-click="testInjector">Test service</button>
	<p>{{serviceResponse}}</p>
</div>*@
